<h1>Lighting Control</h1>
<div class="row">
<div ng-repeat="light in lights" class="col-md-6">
	<hr>
	<h4>{{light.name}} <small>mode: {{light.mode}}</small></h4>
	<!-- <pre>{{light | json}}</pre> -->
	

	<div class="slider-section">
		step: <rzslider rz-slider-model="light.params.step"  rz-slider-options="{floor: -200, ceil: 200, showTicks: 50, showTicksValues: true}"></rzslider>
	</div>
	<div class="slider-section">
		cycle period: <rzslider rz-slider-model="light.params.cycle_period"  rz-slider-options="{floor: 0, ceil: 450, showTicks: 50, showTicksValues: true}"></rzslider>
	</div>
	<div class="slider-section" ng-if="light.has_dimmer">
		dimmer: <rzslider rz-slider-model="light.params.dimmer"  rz-slider-options="{floor: 0, ceil: 255, showTicks: 15, showTicksValues: true}"></rzslider>
	</div>

	<div class="slider-section" ng-if="light.type=='rgbw'">
		white: <rzslider rz-slider-model="light.params.colors.w"  rz-slider-options="{floor: 0, ceil: 255, showTicks: 15, showTicksValues: true}"></rzslider>
	</div>
	<br><br><br>
	<div class="btn-group btn-radio">
	    <button ng-repeat="m in light.modes" type="button" class="btn " ng-class="m==light.mode ? 'btn-info' : 'btn-default'" ng-click="setMode(light,m)">{{m}}</button>
	 </div>
	 <br><br>
 	<button ng-disabled="light.mode != 'manual'" type="button" class="btn btn-primary" colorpicker="rgb" type="text" style="background-color: {{light.rgbraw}}"ng-model="light.rgbraw">pick RGB color</button>


</div>
</div>